/******************************************************************************

	Flight Selection by Airline block

******************************************************************************/

.flightSelectionByAirline {
	margin: 9px 0 10px 0;
}

.flightSelectionByAirline .headBlock h2 {
	font-weight: bold;
	font-size: 12px;
	color: #004a91;
	padding: 0 8px;
}

.flightSelectionByAirline .footerBlock {
	display: none;
}

/*  Day Navigation  */

.flightSelectionByAirline .dayNavigation {
	text-align: right;
	padding: 0 0 3px 0;
}

.flightSelectionByAirline .dayNavigation a,
.flightSelectionByAirline .dayNavigation span {
	font-weight: bold;
	color: #0000FF;
	text-decoration: none;
}

.flightSelectionByAirline .dayNavigation .prevDay {
	background: url(../pictures/icons/navigation/i_prev_day.gif) no-repeat left 2px;
	padding: 0 0 0 15px;
	margin: 0 8px 0 0;
}

.flightSelectionByAirline .dayNavigation .nextDay {
	background: url(../pictures/icons/navigation/i_next_day.gif) no-repeat right center;
	padding: 0 15px 0 0;
	margin: 0 0 0 8px;
}

.flightSelectionByAirline .dayNavigation .prevDayDisabled {
	background-image: url(../pictures/icons/navigation/i_prev_day_disabled.gif);
	color: #cccccc;
	cursor: default;
}

.flightSelectionByAirline .dayNavigation .nextDayDisabled {
	background-image: url(../pictures/icons/navigation/i_next_day_disabled.gif);
	color: #cccccc;
	cursor: default;
}

/*  Comment Block  */

.flightSelectionByAirline .commentBlock {
	background: #dddddd;
	padding: 4px 8px 5px 8px;
	color: #004a91;
}

/*  Results Area  */

.flightSelectionByAirline .resultsArea {
	padding: 0 0 2px 0;
}

.flightSelectionByAirline .resultsArea .colFlight {width: 8%}
.flightSelectionByAirline .resultsArea .colDepart {width: 10%}
.flightSelectionByAirline .resultsArea .colArrive {width: 10%}
.flightSelectionByAirline .resultsArea .colAirports {width: 8%}
.flightSelectionByAirline .resultsArea .colDuration {width: 8%}
.flightSelectionByAirline .resultsArea .colSeats {width: 5%}
.flightSelectionByAirline .resultsArea .colCost {width: auto}

.flightSelectionByAirline .resultsArea TABLE {
	border-right: 1px solid #78bafb;
	border-collapse: separate;
}

.flightSelectionByAirline .resultsArea TABLE TABLE {
	border-right: none;
	border-collapse: collapse;
}

.flightSelectionByAirline .resultsArea TD {
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	vertical-align: top;
}

.flightSelectionByAirline .resultsArea TD TD {
	border: none;
	background: none;
	vertical-align: middle;
}

.flightSelectionByAirline .resultsArea THEAD TD {
	background: #f6f3f3;
	border-top: 1px solid #DDDDDD;
	color: #004a91;
	font-weight: bold;
}

.flightSelectionByAirline .resultsArea TD DIV {
	padding: 4px 8px;
}

.flightSelectionByAirline .resultsArea TD DIV DIV {
	padding: 0;
}

.flightSelectionByAirline .resultsArea .combineRows TD {
	border-bottom: none;
}

.flightSelectionByAirline .resultsArea .combineRows TD.colCost {
	border-bottom: 1px solid #78bafb;
}

.flightSelectionByAirline .resultsArea TBODY .colFlight SPAN.ref {
	margin-left: 3px;
}

.flightSelectionByAirline .resultsArea TBODY .colFlight SUP.ref {
	font: 8px Tahoma;
	line-height: 4px;
}

.flightSelectionByAirline .resultsArea TBODY .colDepart, 
.flightSelectionByAirline .resultsArea TBODY .colArrive {
	font-weight: bold;
}

.flightSelectionByAirline .resultsArea TBODY .colDepart SPAN, 
.flightSelectionByAirline .resultsArea TBODY .colArrive SPAN {
	font-weight: normal;
}

.flightSelectionByAirline .resultsArea .colCost {
	text-align: center;
	vertical-align: top;
	border-bottom: 1px solid #78bafb;
	border-left: 1px solid #78bafb;
}

.flightSelectionByAirline .resultsArea THEAD .colCost {
	border-top: 1px solid #78bafb;
}

.flightSelectionByAirline .resultsArea TBODY .colCost {
	padding: 3px 8px;
	_padding: 1px 8px;
}

.flightSelectionByAirline .resultsArea TBODY .colCost TABLE {
	text-align: left;
	margin: 0 auto;
}

.flightSelectionByAirline .resultsArea THEAD .colCost DIV {
	cursor: pointer;
}

.flightSelectionByAirline .resultsArea TBODY .colCost DIV {
	padding: 0;
}

.flightSelectionByAirline .resultsArea .colCost1 {
	background: #daebfc;
}

.flightSelectionByAirline .resultsArea .colCost2 {
	background: #c3e1fe;
}

.flightSelectionByAirline .resultsArea .colCost3 {
	background: #b3d9ff;
}

.flightSelectionByAirline .resultsArea .colCost4 {
	background: #9fcdfb;
}

.flightSelectionByAirline .resultsArea .colCost5 {
	background: #8dc5fd;
}

.flightSelectionByAirline .resultsArea .colCostSelected {
	background: #e8f012;
}

.flightSelectionByAirline .resultsArea .resultWithFF1 TBODY .colCost DIV {
	width: 380px;
}

.flightSelectionByAirline .resultsArea .resultWithFF2 TBODY .colCost DIV {
	width: 185px;
}

.flightSelectionByAirline .resultsArea .resultWithFF3 TBODY .colCost DIV {
	width: 120px;
}

.flightSelectionByAirline .resultsArea .resultWithFF4 TBODY .colCost DIV {
	width: 85px;
}

.flightSelectionByAirline .resultsArea .resultWithFF1 .colCost DIV DIV,
.flightSelectionByAirline .resultsArea .resultWithFF2 .colCost DIV DIV,
.flightSelectionByAirline .resultsArea .resultWithFF3 .colCost DIV DIV,
.flightSelectionByAirline .resultsArea .resultWithFF4 .colCost DIV DIV {
	width: auto;
}

.flightSelectionByAirline .resultsArea .resultWithFF1 .colCost .colPrice,
.flightSelectionByAirline .resultsArea .resultWithFF2 .colCost .colPrice,
.flightSelectionByAirline .resultsArea .resultWithFF3 .colCost .colPrice,
.flightSelectionByAirline .resultsArea .resultWithFF4 .colCost .colPrice {
	width: 60px;
}

.flightSelectionByAirline .resultsArea .colCost .colPrice {
	color: #004a91;
	font-size: 12px;
	font-weight: bold;
}

.flightSelectionByAirline .resultsArea .colCostDisabled .colPrice {
	color: #999999;
}

.flightSelectionByAirline .resultsArea .footnote {
	padding: 4px 4px 2px 4px;
	font: 11px Arial;
	color: #666666;
}

.flightSelectionByAirline .resultsArea .footnote SPAN.ref {
	margin-left: 3px;
}

.flightSelectionByAirline .resultsArea .footnote SUP.ref {
	font: 8px Tahoma;
	line-height: 4px;
}


/******************************************************************************

	Flight Selection by Airline No Fare Families block

******************************************************************************/

.flightSelectionByAirlineNoFF {
	margin: 9px 0 10px 0;
}

.flightSelectionByAirlineNoFF .headBlock h2 {
	font-size: 12px;
	font-weight: bold;
	color: #004a91;
	padding: 0 8px;
}

.flightSelectionByAirlineNoFF .footerBlock {
	display: none;
}


/*  Day Navigation  */

.flightSelectionByAirlineNoFF .dayNavigation {
	text-align: right;
	padding: 0 0 3px 0;
}

.flightSelectionByAirlineNoFF .dayNavigation a,
.flightSelectionByAirlineNoFF .dayNavigation span {
	font-weight: bold;
	color: #0000FF;
	text-decoration: none;
}

.flightSelectionByAirlineNoFF .dayNavigation .prevDay {
	background: url(../pictures/icons/navigation/i_prev_day.gif) no-repeat left 2px;
	padding: 0 0 0 15px;
	margin: 0 8px 0 0;
}

.flightSelectionByAirlineNoFF .dayNavigation .nextDay {
	background: url(../pictures/icons/navigation/i_next_day.gif) no-repeat right center;
	padding: 0 15px 0 0;
	margin: 0 0 0 8px;
}

.flightSelectionByAirlineNoFF .dayNavigation .prevDayDisabled {
	background-image: url(../pictures/icons/navigation/i_prev_day_disabled.gif);
	color: #cccccc;
	cursor: default;
}

.flightSelectionByAirlineNoFF .dayNavigation .nextDayDisabled {
	background-image: url(../pictures/icons/navigation/i_next_day_disabled.gif);
	color: #cccccc;
	cursor: default;
}


/*  Results Area  */

.flightSelectionByAirlineNoFF .resultsArea {
	padding: 0 0 2px 0;
}

.flightSelectionByAirlineNoFF .resultsArea .colCost {width: 14%}
.flightSelectionByAirlineNoFF .resultsArea .colDepart {width: 25%}
.flightSelectionByAirlineNoFF .resultsArea .colArrive {width: 25%}
.flightSelectionByAirlineNoFF .resultsArea .colDuration {width: 13%}
.flightSelectionByAirlineNoFF .resultsArea .colFlight {width: 12%}
.flightSelectionByAirlineNoFF .resultsArea .colCabin {width: 11%}


.flightSelectionByAirlineNoFF .resultsArea TABLE {
	border-right: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;	
	border-collapse: separate;
}

.flightSelectionByAirlineNoFF .resultsArea TABLE TABLE {
	border: none;
	border-collapse: collapse;
}

.flightSelectionByAirlineNoFF .resultsArea TD {
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	vertical-align: top;
}


.flightSelectionByAirlineNoFF .resultsArea .combineRows TD {
	border-bottom: none;
}

.flightSelectionByAirlineNoFF .resultsArea .combineRows TD.colCost {
	border-bottom: 1px solid #DDDDDD;
}

.flightSelectionByAirlineNoFF .resultsArea TD TD {
	border: none;
}

.flightSelectionByAirlineNoFF .resultsArea THEAD TD {
	background: #DDDDDD;
}

.flightSelectionByAirlineNoFF .resultsArea THEAD TD DIV {
	padding: 4px 5px;
}

.flightSelectionByAirlineNoFF .resultsArea TD DIV {
	padding: 3px 5px 2px 5px;
}

.flightSelectionByAirlineNoFF .resultsArea TD DIV DIV {
	padding: 0;
}

.flightSelectionByAirlineNoFF .resultsArea td.colCost {
	text-align: center;
	vertical-align: middle;
}

.flightSelectionByAirlineNoFF .resultsArea .colCost TABLE {
	margin: 0 auto;
}

.flightSelectionByAirlineNoFF .resultsArea .colCost TABLE td {
	vertical-align: middle;	
}

.flightSelectionByAirlineNoFF .resultsArea TBODY .colCost DIV {
	padding: 0 4px;
}

.flightSelectionByAirlineNoFF .resultsArea TBODY .colCost DIV DIV {
	padding: 0;
}

.flightSelectionByAirlineNoFF .resultsArea .colCost .colPrice {
	width: 60px;
}

.flightSelectionByAirlineNoFF .resultsArea TBODY .colDepart .place, 
.flightSelectionByAirlineNoFF .resultsArea TBODY .colArrive .place {
	font-weight: bold;
}


.flightSelectionByAirlineNoFF .resultsArea TBODY .colDepart .transf, 
.flightSelectionByAirlineNoFF .resultsArea TBODY .colArrive .transf {
	color: #ABABAB;
}

.flightSelectionByAirlineNoFF .resultsArea TBODY .colFlight IMG {
	margin: 0 5px 0 0;
}

.flightSelectionByAirlineNoFF .resultsArea TBODY .colFlight SPAN.ref {
	margin-left: 3px;
}

.flightSelectionByAirlineNoFF .resultsArea TBODY .colFlight SUP.ref {
	font: 8px Tahoma;
	line-height: 4px;
}

.flightSelectionByAirlineNoFF .resultsArea .rowSelected TD {
	background: #e8f012;
}

.flightSelectionByAirlineNoFF .resultsArea .flightNotAvail TD,
.flightSelectionByAirlineNoFF .resultsArea .flightNotAvail TD A,
.flightSelectionByAirlineNoFF .resultsArea .flightNotAvail TD A:hover,
.flightSelectionByAirlineNoFF .resultsArea .flightNotAvail TD .transf {
	color: #DDDDDD;
}


.flightSelectionByAirlineNoFF .resultsArea .footnote {
	padding: 4px 4px 2px 4px;
	font: 11px Arial;
	color: #666666;
}

.flightSelectionByAirlineNoFF .resultsArea .footnote SPAN.ref {
	margin-left: 3px;
}

.flightSelectionByAirlineNoFF .resultsArea .footnote SUP.ref {
	font: 8px Tahoma;
	line-height: 4px;
}


/******************************************************************************

	Flight Selection One Way Combinable

******************************************************************************/

/*  Calendar Tabs  */

.flightSelectionOWC .calendarTabsArea {
	margin-top: 10px;
}

.flightSelectionOWC .tabsTable td {
	border-bottom: none;
	border-left: 1px solid #FFFFFF;
	vertical-align: bottom;
	text-align: center;
	font: 11px Arial;
	color: #004a91;
	cursor: pointer;
}

.flightSelectionOWC .tabsTable td div {
	background: #FFFFFF url(../pictures/misc/owc_calendar_tab_bg.gif) no-repeat left top;
	padding: 0 0 0 3px;
}

.flightSelectionOWC .tabsTable td div div {
	background: #FFFFFF url(../pictures/misc/owc_calendar_tab_bg.gif) no-repeat right top;
	padding: 3px 9px 3px 7px;
}

.flightSelectionOWC .tabsTable td.selectedTab {
	font-weight: normal;
	cursor: default;
}

.flightSelectionOWC .tabsTable td.selectedTab div {
	background: #DDDDDD url(../pictures/misc/owc_calendar_tab_act_bg.gif) no-repeat left top;
}

.flightSelectionOWC .tabsTable td.selectedTab div div {
	background: #DDDDDD url(../pictures/misc/owc_calendar_tab_act_bg.gif) no-repeat right top;
	padding: 3px 9px 3px 7px;
}

.flightSelectionOWC .tabsTable td.disabledTab,
.flightSelectionOWC .tabsTable td.disabledTab .price {
	color: #CCCCCC;
	cursor: default;
}

.flightSelectionOWC .tabsTable td .price {
	color: #004a91;
}


/******************************************************************************

	Flight Selection Calendar block

******************************************************************************/

.flightSelectionCalendarCont {
	
}

.flightSelectionCalendar .headBlock h2 {
	font-size: 12px;
	font-weight: bold;
	color: #004a91;
	padding: 15px 8px 0 8px;
}

.flightSelectionCalendar .footerBlock {
	display: none;
}

/*  Day Navigation  */

.flightSelectionCalendar .dayNavigation {
	text-align: right;
	padding: 2px 0 0 0;
}

.flightSelectionCalendar .dayNavigation a,
.flightSelectionCalendar .dayNavigation span {
	font-weight: bold;
	color: #0000FF;
	text-decoration: none;
}

.flightSelectionCalendar .dayNavigation .prevDay {
	background: url(../pictures/icons/navigation/i_prev_day.gif) no-repeat left 2px;
	padding: 0 0 0 15px;
	margin: 0 8px 0 0;
}

.flightSelectionCalendar .dayNavigation .nextDay {
	background: url(../pictures/icons/navigation/i_next_day.gif) no-repeat right center;
	padding: 0 15px 0 0;
	margin: 0 0 0 8px;
}

.flightSelectionCalendar .dayNavigation .prevDayDisabled {
	background-image: url(../pictures/icons/navigation/i_prev_day_disabled.gif);
	color: #cccccc;
	cursor: default;
}

.flightSelectionCalendar .dayNavigation .nextDayDisabled {
	background-image: url(../pictures/icons/navigation/i_next_day_disabled.gif);
	color: #cccccc;
	cursor: default;
}

/* Calendar */

.flightSelectionCalendar .calendarArea {
	margin: 4px 0 4px 0;
}

.flightSelectionCalendar .calendarTable {
	width: 100%;
}

.flightSelectionCalendar .calendarTable TH {
	width: 14.28%;
	border-right: 1px solid #FFFFFF;	
	border-bottom: 1px solid #cccccc;
	background-color: #0063ab;
	padding: 4px 0 6px 0;
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
}

.flightSelectionCalendar .calendarTable TH.colLast {
	border-right: none;
}

.flightSelectionCalendar .calendarTable TD {
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #bfb5bf;
	background-color: #e3f1ff;
	font-size: 12px;
	text-align: center;
	cursor: default;
}

.flightSelectionCalendar .calendarTable TD.colLast {
	border-right: 1px solid #bfb5bf;
}

.flightSelectionCalendar .calendarTable TD TD {
	background: none;
	border: none;
	text-align: left;
}

.flightSelectionCalendar .calendarTable TD.available {
	background-color: #ffffff;
	cursor: pointer;
}

.flightSelectionCalendar .calendarTable TD.available TD {
	cursor: pointer;
}

.flightSelectionCalendar .calendarTable TD.selected {
	background-color: #f2ef1c;
	cursor: default;
}

.flightSelectionCalendar .calendarTable TD.selected TD {
	cursor: default;
}

.flightSelectionCalendar .calendarTable TD.empty {
	background-color: #ffffff;
}

.flightSelectionCalendar .calendarTable .date {
	padding: 2px 0 1px 0;
}

.flightSelectionCalendar .calendarTable div.avail {
	padding: 6px 0 7px 0;
	visibility: hidden;
}

.flightSelectionCalendar .calendarTable table.avail {
	margin: 0 auto;
	visibility: hidden;
}

.flightSelectionCalendar .calendarTable TD.available table.avail {
	visibility: visible;
}

.flightSelectionCalendar .calendarTable table.avail TD {
	height: 25px;
	vertical-align: middle;
}

/* Check Availability */

#fbCheckAvail {
	margin: 10px 0;
}

#fbCheckAvail .formTitle {
	background-color: #e3f1ff;
	text-transform: none;
	border: 1px solid #CCCCCC;
	padding: 5px 8px;
}

#fbCheckAvail .formBody {
	border: 1px solid #CCCCCC;
	border-top: none;
	padding: 0 8px;
}

#fbCheckAvail .formFooter {
	display: none;
}

#fbCheckAvail .textBlock {
	margin-bottom: 5px;
}

#fbCheckAvail .textBlock p {
	margin-top: 0;
	padding-top: 4px;
}

#fbCheckAvail .formBlock .fieldLabel {
	font-size: 12px;
	padding: 0 0 3px 0;
}

#fbCheckAvail .formBlock .fieldSelect {
	padding: 0 30px 0 0;
}

#fbCheckAvail .formBlock .fieldSelectLast {
	padding: 0 22px 0 0;
}

#fbCheckAvail .formBlock .fieldSelect select {
	width: 40px;
}

#fbCheckAvail .formBlock .buttonArea {
	padding: 15px 0 0 0;
}


/******************************************************************************

	Flight Selection Calendar One Way Combinable

******************************************************************************/

.flightSelectionCalendarOWC .calendarTable TD.available {
	background: #e3f1ff;
}

.flightSelectionCalendarOWC .calendarTable TD.selected {
	background-color: #f2ef1c;
}

.flightSelectionCalendarOWC .calendarTable TD.disabled,
.flightSelectionCalendarOWC .calendarTable TD.disabled table.price TD {
	color: #ABABAB;
}

.flightSelectionCalendarOWC .calendarTable div.price {
	padding: 6px 0 7px 0;
}

.flightSelectionCalendarOWC .calendarTable table.price {
	margin: 0 auto;
}

.flightSelectionCalendarOWC .calendarTable table.price TD {
	height: 25px;
	vertical-align: middle;
	color: #666666;
}

.flightSelectionCalendarOWC .calendarTable table.price .colPrice {
	width: 60px;
}

/******************************************************************************

	Flight Selection Fares Calendar block

******************************************************************************/

.flightSelectionFaresCalendar .headBlock h2 {
	font-size: 12px;
	font-weight: bold;
	color: #004a91;
	padding: 0 8px;
}

.flightSelectionFaresCalendar .footerBlock {
	display: none;
}

.flightSelectionFaresCalendar .commentBlock {
	font-size: 12px;
	padding: 3px 8px 3px 8px;
}

.flightSelectionFaresCalendar .subHeadBlock {
	background: #dddddd;
	padding: 5px 8px 6px 8px;
	margin: 5px 0 1px 0;
}

.flightSelectionFaresCalendar .subHeadBlock h3 {
	font-size: 11px;
	font-weight: bold;
}

.flightSelectionFaresCalendar .faresCalendar {
	width: 100%;
	border-collapse: separate;
}

.flightSelectionFaresCalendar .faresCalendar TH,
.flightSelectionFaresCalendar .faresCalendar TD {
	text-align: center;
	vertical-align: middle;
}

.flightSelectionFaresCalendar .faresCalendar TH {
	background: #0063ab;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	font-size: 12px;
	padding: 1px 0 2px 0;
	text-align: center;
	color: #FFFFFF;
}

.flightSelectionFaresCalendar .faresCalendar .inboundHead TH.colLast {
	border-right: none;
}

.flightSelectionFaresCalendar .faresCalendar TH.outboundHead {
	width: 16%;
}

.flightSelectionFaresCalendar .faresCalendar .rowLast TH {
	border-bottom: none;
}

.flightSelectionFaresCalendar .faresCalendar TH.current {
	background: #bedcfa;
	color: #0063ab;
}

.flightSelectionFaresCalendar .faresCalendar TD {
	width: 12%;
	background: #f3f9ff;
	border-right: 1px solid #b2b2b2;
	border-bottom: 1px solid #b2b2b2;
	font-size: 12px;
	cursor: pointer;
	cursor: hand;
}

.flightSelectionFaresCalendar .faresCalendar TD TABLE {
	margin: 0 auto;
}

.flightSelectionFaresCalendar .faresCalendar TD TD {
	width: auto;
	background: none;
	border: none;
}

.flightSelectionFaresCalendar .faresCalendar TD A {
	color: #1e82f7;
	text-decoration: none;
}

.flightSelectionFaresCalendar .faresCalendar .notAvail {
	background: #e3f1ff;
	color: #bebebe;
	cursor: default;
}

.flightSelectionFaresCalendar .faresCalendar .notAvail DIV {
	visibility: hidden;
}

.flightSelectionFaresCalendar .faresCalendar .lowest {
	border-right: 1px solid #1e82f7;
	border-bottom: 1px solid #1e82f7;
}

.flightSelectionFaresCalendar .faresCalendar .lowestOver {
	border-bottom: 1px solid #1e82f7;
}

.flightSelectionFaresCalendar .faresCalendar .lowestPrev {
	border-right: 1px solid #1e82f7;
}

.flightSelectionFaresCalendar .faresCalendar .selected {
	background: #f2ef1c;
	border-right: 1px solid #b2b2b2;
	border-bottom: 1px solid #b2b2b2;
	cursor: default;
}

.flightSelectionFaresCalendar .faresCalendar .selected TD {
	cursor: default;
}

.flightSelectionFaresCalendar .faresCalendar .selected A {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	cursor: default;
}

.flightSelectionFaresCalendar .faresCalendar .selectedOver {
	border-bottom: 1px solid #b2b2b2;
}

.flightSelectionFaresCalendar .faresCalendar .selectedPrev {
	border-right: 1px solid #b2b2b2;
}

.flightSelectionFaresCalendar .faresCalendar .colPrice {
	width: 50px;
	text-align: left;
}

/* Legend */

.flightSelectionFaresCalendar .faresCalendarLegend {
	padding: 9px 0 6px 0;
}

.flightSelectionFaresCalendar .faresCalendarLegend .colTitle {
	font-weight: bold;
}

.flightSelectionFaresCalendar .faresCalendarLegend .colSel,
.flightSelectionFaresCalendar .faresCalendarLegend .colLow,
.flightSelectionFaresCalendar .faresCalendarLegend .colNA {
	padding: 0 12px 0 12px;
}

.flightSelectionFaresCalendar .faresCalendarLegend .colSelSamp,
.flightSelectionFaresCalendar .faresCalendarLegend .colLowSamp,
.flightSelectionFaresCalendar .faresCalendarLegend .colNASamp {
	width: 25px;
}

.flightSelectionFaresCalendar .faresCalendarLegend .selectedSample {
	background: #f2ef1c;
	border: 1px solid #b2b2b2;
}

.flightSelectionFaresCalendar .faresCalendarLegend .lowestSample {
	background: #f3f9ff;
	border: 1px solid #1e82f7;
}

.flightSelectionFaresCalendar .faresCalendarLegend .notAvailSample {
	background: #e3f1ff;
	border: 1px solid #b2b2b2;
}


/******************************************************************************

	Flight Selection Schedule block

******************************************************************************/

/* Columns */

.flightSelectionSchedule TABLE {table-layout: fixed}
.flightSelectionSchedule .colRadio {width: 5%; text-align: center}
.flightSelectionSchedule .colDepart {width: 29%}
.flightSelectionSchedule .colArrive {width: 29%}
.flightSelectionSchedule .colFlight {width: 18%}
.flightSelectionSchedule .colDetails {width: 19%}
.flightSelectionSchedule .colHeading {width: 95%}

/* Header */

.flightSelectionScheduleHeader {
	margin: 6px 0 5px 0;
}

.flightSelectionScheduleHeader TD {
	background: #e6e6e6;
	font-weight: bold;
}

.flightSelectionScheduleHeader TD DIV {
	padding: 3px 0 4px 3px;
}

/* Body */

.flightSelectionScheduleBody .headBlock h2 {
	font-size: 12px;
	font-weight: bold;
	color: #004a91;
	padding: 0 8px;
}

.flightSelectionScheduleBody .footerBlock {
	display: none;
}

.flightSelectionScheduleBody .bodyBlock {
	border: 1px solid #cccccc;
	padding: 2px;
	margin: 6px 0 5px 0;
}

.flightSelectionScheduleBody .flightHeading TD {
	background: #e6e6e6;
	font-weight: bold;
	border-bottom: 2px solid #FFFFFF;
}

.flightSelectionScheduleBody .flightHeading TD DIV {
	padding: 4px 0 4px 0;
}

.flightSelectionScheduleBody .flightLeg TD {
	background: #ffffff;
	vertical-align: top;
}

.flightSelectionScheduleBody .flightLeg TD DIV {
	padding: 8px 5px 10px 0;
}

.flightSelectionScheduleBody .flightLeg .colComment DIV {
	padding: 0 5px 10px 0;
}

.flightSelectionScheduleBody .flightLegSelected TD {
	background: #f2f6fa;
}

.flightSelectionScheduleBody .flightLegNotAvail .colComment {
	color: #575757;
}

.flightSelectionScheduleBody .flightLeg .orig, 
.flightSelectionScheduleBody .flightLeg .dest {
	font-weight: bold;
}

.flightSelectionScheduleBody .flightLeg .time {
	font-weight: bold;
}

.flightSelectionScheduleBody .flightLeg .flightNum IMG {
	margin: 0 5px 0 0;
}

.flightSelectionScheduleBody .flightLeg .flightNum SPAN.ref {
	margin-left: 3px;
}

.flightSelectionScheduleBody .flightLeg .flightNum SUP.ref {
	font: 8px Tahoma;
	line-height: 4px;
}

.flightSelectionScheduleBody .blockSeparator {
	margin: 2px 0;
}

.flightSelectionSchedule .footnote {
	padding: 4px 0 2px 0;
	font-size: 11px;
	color: #666666;
}

.flightSelectionScheduleBody .footnote SPAN.ref {
	margin-left: 3px;
}

.flightSelectionScheduleBody .footnote SUP.ref {
	font: 8px Tahoma;
	line-height: 4px;
}



/******************************************************************************

	Flight Selection Return Fares block

******************************************************************************/

/* Columns */

.flightSelectionReturnFares .colDeparture {width: 23%}
.flightSelectionReturnFares .colArrival {width: 23%}
.flightSelectionReturnFares .colDuration {width: 19%}
.flightSelectionReturnFares .colSeats {width: 8%}
.flightSelectionReturnFares .colFlight {width: 16%}
.flightSelectionReturnFares .colCabin {width: 11%}

/* Header */

.flightSelectionReturnFaresHeader .headBlock h2 {
	font-weight: bold;
	font-size: 12px;
	color: #004a91;
	padding: 0 8px;
}

.flightSelectionReturnFaresHeader {
	margin: 4px 0;
}

.flightSelectionReturnFaresHeader .commentBlock {
	font-size: 12px;
	padding: 6px 8px 7px 8px;
}

.flightSelectionReturnFaresHeader TD {
	background: #dddddd;
}

.flightSelectionReturnFaresHeader TD DIV {
	padding: 3px 8px 4px 8px;
}

.flightSelectionReturnFaresHeader .footerBlock {
	display: none;
}

/* Body */

.flightSelectionReturnFaresBody .headBlock {
	background-color: #d3d0f8;
	padding: 3px 8px;
}

.flightSelectionReturnFaresBody .headBlock .colPrice {
	font-size: 14px;
	font-weight: bold;
}

.flightSelectionReturnFaresBody .headBlock .colPrice .link {
	font: 11px Arial;
}

.flightSelectionReturnFaresBody .headBlock .colPrice .cpn {
	font: 11px Arial;
	position: relative;
	top: -4px;
	padding: 0 5px 0 2px;
}

.flightSelectionReturnFaresBody .headBlock .colPrice .cpnDiscount {
	font: 11px Arial;
	padding: 0 0 0 20px;
}

.flightSelectionReturnFaresBody .headBlock .colInfo {
	text-align: right;
	padding-right: 30px;
}

.flightSelectionReturnFaresBody .footerBlock {
	clear: both;
}

.flightSelectionReturnFaresBody .resultsArea {
	border: 1px solid #cccccc;
	border-bottom: none;
}

.flightSelectionReturnFaresBody .resultsArea TD {
	border-bottom: 1px solid #cccccc;
	vertical-align: top;
}

.flightSelectionReturnFaresBody .resultsArea .combineBottom TD {
	border-bottom: none;
	background: url(../pictures/misc/form_sep.gif) repeat-x left bottom;
}

.flightSelectionReturnFaresBody .resultsArea TD DIV {
	padding: 3px 4px 2px 4px;
}

.flightSelectionReturnFaresBody .resultsArea .combineBottom TD DIV {
	padding: 3px 4px 3px 4px;
}

.flightSelectionReturnFaresBody .resultsArea .transfer {
	color: #ABABAB;
}

.flightSelectionReturnFaresBody .resultsArea .place {
	font-weight: bold;
}

.flightSelectionReturnFaresBody .flightNum IMG {
	margin: 0 5px 0 0;
}

.flightSelectionReturnFaresBody .flightNum SPAN.ref {
	margin-left: 3px;
}

.flightSelectionReturnFaresBody .flightNum SUP.ref {
	font: 8px Tahoma;
	line-height: 4px;
}

.flightSelectionReturnFares .footnote {
	padding: 4px 0 10px 0;
	font-size: 11px;
	color: #666666;
	float: left;
	width: 75%;
}

.flightSelectionReturnFaresBody .footnote SPAN.ref {
	margin-left: 3px;
}

.flightSelectionReturnFaresBody .footnote SUP.ref {
	font: 8px Tahoma;
	line-height: 4px;
}

.flightSelectionReturnFaresBody .buttonArea {
	padding: 12px 0;
}

.flightSelectionReturnFaresNotAvail {
	padding: 0 0 20px 0;
}

.flightSelectionReturnFaresNotAvail .resultsArea TD,
.flightSelectionReturnFaresNotAvail .resultsArea .combineBottom TD {
	background-color: #F2F2F2;
}

.flightSelectionReturnFaresNotAvail .resultsArea .groupCB TD {
	border-bottom: none;
}

.flightSelectionReturnFaresNotAvail .resultsArea .colComment DIV {
	padding: 5px 4px;
	color: #575757;
}

.flightSelectionReturnFaresNotAvail .buttonArea {
	display: none;
}

/* button area - these styles must be deleted after old proto clean-up */

.flightSelectionReturnFaresBody .buttonArea a.button1, 
.flightSelectionReturnFaresBody .buttonArea a.button1:hover, 
.flightSelectionReturnFaresBody .buttonArea a.button1:visited,
.flightSelectionReturnFaresBody .buttonArea a.button1:link, 
.flightSelectionReturnFaresBody .buttonArea a.button1:active, 
.flightSelectionReturnFaresBody .buttonArea a.button1:focus {
	background: url(../pictures/misc/main-button-bg.gif) repeat-x left top;
	border: none;
	padding: 0;
	display: block;
	width: '100%';
	font: bold 11px Arial;
	text-decoration: none;
	color: #004a91;
}

.flightSelectionReturnFaresBody .buttonArea a.button1 span {
	display: block;
	background: url(../pictures/misc/main-button-left.gif) no-repeat left top;
}

.flightSelectionReturnFaresBody .buttonArea a.button1 span span {
	background: url(../pictures/misc/main-button-right.gif) no-repeat right top;
	padding: 5px 15px 5px 15px;
}


/******************************************************************************

	Discount Info block

******************************************************************************/

.discountInfoBlock .headBlock, .discountInfoBlock .footerBlock {
	display: none;
}

.discountInfoBlock .bodyBlock {
	border: 1px solid #DDDDDD;
	background: #f2f2f2;
	padding: 3px 8px;
	margin: 0 0 12px 0;
	font-size: 12px;
}

.discountInfoBlock .bodyBlock H3 {
	font-size: 12px;
	font-weight: bold;
}

.discountInfoBlock .bodyBlock P {
	padding: 0 0 0 12px;
}
